[Unit]
After=network.target redis-server.service

[Service]
ExecStart=/root/auto-router/auto-router
WorkingDirectory=/root/auto-router/
Type=simple
User=root
StandardOutput=journal
StandardError=journal
SyslogIdentifier=auto-router
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
